# coding: utf-8

# flake8: noqa

{{>partial_header}}

import warnings
warnings.warn(
    "fingerprint_pro_server_api_sdk is deprecated. "
    "Please migrate to fingerprint_server_sdk (Server API v4). "
    "See https://dev.fingerprint.com/reference/migrating-from-server-api-v3-to-v4",
    DeprecationWarning,
    stacklevel=2,
)

# import apis into sdk package
{{#apiInfo}}{{#apis}}from {{packageName}}.{{apiPackage}}.{{classVarName}} import {{classname}}
{{/apis}}{{/apiInfo}}
# import ApiClient
from {{packageName}}.api_client import ApiClient
from {{packageName}}.configuration import Configuration
# import BaseModel
from {{packageName}}.base_model import BaseModel
# import models into sdk package
{{#models}}{{#model}}from {{modelPackage}}.{{classFilename}} import {{classname}}
{{/model}}{{/models}}
# import custom methods into sdk package
from {{packageName}}.webhook_validation import WebhookValidation
from {{packageName}}.sealed import ApiClientDeserializer, DecryptionAlgorithm, DecryptionKey, \
    UnsealError, UnsealAggregateError, unseal_event_response
