
```python
import os

import {{{packageName}}}
{{#vendorExtensions.x-py-example-import}}
{{{.}}}
{{/vendorExtensions.x-py-example-import}}
from {{{packageName}}} import ApiException, ErrorResponse
from {{packageName}}.configuration import Region
from pprint import pprint

{{> python_doc_auth_partial}}


# Create an instance of the API class
api_instance = {{packageName}}.FingerprintApi(configuration)

{{#allParams}}
{{paramName}}: {{{dataType}}} = {{{example}}} # {{{description}}}{{^required}} (optional){{/required}}{{#defaultValue}} (default to {{{.}}}){{/defaultValue}}
{{/allParams}}

try:
    {{#summary}}
    # {{{.}}}
    {{/summary}}
    {{#returnType}}api_response = {{/returnType}}{{#async}}await {{/async}}api_instance.{{{operationId}}}({{#allParams}}{{#required}}{{paramName}}{{/required}}{{^required}}{{paramName}}={{paramName}}{{/required}}{{^-last}}, {{/-last}}{{/allParams}})
    {{#returnType}}
    print("The response of {{classname}}->{{operationId}}:\n")
    pprint(api_response)
    {{/returnType}}
except ApiException as e:
    if e.body is not None:
        error_response = ErrorResponse.from_json(e.body)
        if error_response is not None:
            message = f"API request failed: {error_response.error.code} {error_response.error.message}"
        else:
            message = f"API request failed with unexpected error format: {e}"
    else:
        message = f'Exception when calling {{classname}}->{{operationId}}: {e}'
    print(message)
```