from __future__ import annotations
import json
from enum import Enum
{{#vendorExtensions.x-py-other-imports}}
{{{.}}}
{{/vendorExtensions.x-py-other-imports}}
from typing_extensions import Self


class {{classname}}({{vendorExtensions.x-py-enum-type}}, Enum):
    """
    {{{description}}}{{^description}}{{{classname}}}{{/description}}
    """

    """
    allowed enum values
    """
{{#allowableValues}}
    {{#enumVars}}
    {{{name}}} = {{{value}}}
    {{/enumVars}}

    @classmethod
    def from_json(cls, json_str: str) -> Self:
        """Create an instance of {{classname}} from a JSON string"""
        return cls(json.loads(json_str))

    @classmethod
    def _missing_(cls, value: object) -> Self:
        """Accept unknown enum values gracefully."""
        if not isinstance(value, {{vendorExtensions.x-py-enum-type}}):
            raise ValueError(f"{value!r} is not a valid {cls.__name__}")
        obj = {{vendorExtensions.x-py-enum-type}}.__new__(cls, value)
        obj._name_ = str(value)
        obj._value_ = value
        # cache it so the same value won't trigger `_missing_` again
        cls._value2member_map_[value] = obj
        return obj
{{/allowableValues}}
