{{#poetry1}}
[tool.poetry]
{{/poetry1}}
{{^poetry1}}
[project]
{{/poetry1}}
name = "{{{packageName}}}"
version = "{{{packageVersion}}}"
description = "{{{appDescription}}}"
{{#poetry1}}
authors = ["{{infoName}}{{^infoName}}OpenAPI Generator Community{{/infoName}} <{{infoEmail}}{{^infoEmail}}team@openapitools.org{{/infoEmail}}>"]
{{/poetry1}}
{{^poetry1}}
authors = [
  {name = "{{infoName}}{{^infoName}}OpenAPI Generator Community{{/infoName}}",email = "{{infoEmail}}{{^infoEmail}}team@openapitools.org{{/infoEmail}}"},
]
{{/poetry1}}
{{#licenseInfo}}
{{#poetry1}}
license = "{{{licenseInfo}}}"
{{/poetry1}}
{{^poetry1}}
license = { text = "{{{licenseInfo}}}" }
{{/poetry1}}
{{/licenseInfo}}
readme = "README.md"
{{#poetry1}}
repository = "https://{{{gitHost}}}/{{{gitUserId}}}/{{{gitRepoId}}}"
{{/poetry1}}
keywords = ["OpenAPI", "OpenAPI-Generator", "{{{appName}}}"]
{{#poetry1}}
include = ["{{packageName}}/py.typed"]

[tool.poetry.dependencies]
python = "^3.9"
{{^async}}
urllib3 = ">= 2.1.0, < 3.0.0"
{{/async}}
python-dateutil = ">= 2.8.2"
{{#asyncio}}
aiohttp = ">= 3.8.4"
aiohttp-retry = ">= 2.8.3"
{{/asyncio}}
{{#httpx}}
httpx = ">= 0.28.1"
{{/httpx}}
{{#tornado}}
tornado = ">=4.2, <5"
{{/tornado}}
{{#hasHttpSignatureMethods}}
pem = ">= 19.3.0"
pycryptodome = ">= 3.9.0"
{{/hasHttpSignatureMethods}}
pydantic = ">= 2"
typing-extensions = ">= 4.7.1"
{{#lazyImports}}
lazy-imports = ">= 1, < 2"
{{/lazyImports}}
cryptography = ">= 41.0.0"
python-dotenv = ">= 1.0.0"
{{/poetry1}}
{{^poetry1}}
requires-python = ">=3.9"

dependencies = [
{{^async}}
  "urllib3 (>=2.1.0,<3.0.0)",
{{/async}}
  "python-dateutil (>=2.8.2)",
{{#httpx}}
  "httpx (>=0.28.1)",
{{/httpx}}
{{#asyncio}}
  "aiohttp (>=3.8.4)",
  "aiohttp-retry (>=2.8.3)",
{{/asyncio}}
{{#tornado}}
  "tornado (>=4.2,<5)",
{{/tornado}}
{{#hasHttpSignatureMethods}}
  "pem (>=19.3.0)",
  "pycryptodome (>=3.9.0)",
{{/hasHttpSignatureMethods}}
  "pydantic (>=2)",
  "typing-extensions (>=4.7.1)",
{{#lazyImports}}
  "lazy-imports (>=1,<2)"
{{/lazyImports}}
  "cryptography"
]

[project.urls]
Repository = "https://{{{gitHost}}}/{{{gitUserId}}}/{{{gitRepoId}}}"

{{/poetry1}}
{{^poetry1}}
[tool.poetry]
requires-poetry = ">=2.0"
{{/poetry1}}

{{#poetry1}}
[tool.poetry.dev-dependencies]
{{/poetry1}}
{{^poetry1}}
[tool.poetry.group.dev.dependencies]
{{/poetry1}}
pytest = ">= 7.2.1"
pytest-cov = ">= 2.8.1"
tox = ">= 3.9.0"
flake8 = ">= 4.0.0"
types-python-dateutil = ">= 2.8.19.14"
mypy = ">= 1.5"
ruff = "== 0.15.0"
pre-commit = ">= 4.0.0"


[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.pylint.'MESSAGES CONTROL']
extension-pkg-whitelist = "pydantic"

[tool.mypy]
files = [
  "{{{packageName}}}",
  "test",
]

strict = true

# List from: https://mypy.readthedocs.io/en/stable/existing_code.html#introduce-stricter-options
warn_unused_configs = true
warn_redundant_casts = true
warn_unused_ignores = true
strict_equality = true
extra_checks = true
check_untyped_defs = true
disallow_subclassing_any = true
disallow_untyped_decorators = true
disallow_any_generics = true

[[tool.mypy.overrides]]
module = [
  "{{{packageName}}}.configuration",
]
warn_unused_ignores = true
strict_equality = true
extra_checks = true
check_untyped_defs = true
disallow_subclassing_any = true
disallow_untyped_decorators = true
disallow_any_generics = true
disallow_untyped_calls = true
disallow_incomplete_defs = true
disallow_untyped_defs = true
no_implicit_reexport = true
warn_return_any = true

[tool.ruff]
line-length = 99
target-version = "py39"

[tool.ruff.lint]
select = [
  "E",      # pycodestyle errors
  "W",      # pycodestyle warnings
  "F",      # Pyflakes
  "I",      # isort
  "UP",     # pyupgrade
  "B",      # flake8-bugbear
  "SIM",    # flake8-simplify
]
# UP007/UP045 require Python 3.10+, we target Python 3.9+
# SIM108: ternary operators can reduce readability for longer expressions
ignore = ["UP007", "UP045", "SIM108"]

[tool.ruff.lint.per-file-ignores]
# Generated files have long descriptions from OpenAPI spec
"{{{packageName}}}/models/*" = ["E501"]
"{{{packageName}}}/api/*" = ["E501"]

[tool.ruff.format]
quote-style = "single"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"