{{>partial_header}}


import pathlib
import re

from setuptools import setup, find_packages

NAME = "{{{projectName}}}"
VERSION = "{{packageVersion}}"
PYTHON_REQUIRES = ">= 3.9"
# To install the library, run the following
#
# python setup.py install
#
# prerequisite: setuptools
# http://pypi.python.org/pypi/setuptools
REQUIRES = [
{{^async}}
    "urllib3 >= 2.1.0, < 3.0.0",
{{/async}}
    "python-dateutil >= 2.8.2",
{{#asyncio}}
    "aiohttp >= 3.8.4",
    "aiohttp-retry >= 2.8.3",
{{/asyncio}}
{{#httpx}}
    "httpx >= 0.28.1",
{{/httpx}}
{{#tornado}}
    "tornado>=4.2, < 5",
{{/tornado}}
{{#hasHttpSignatureMethods}}
    "pem >= 19.3.0",
    "pycryptodome >= 3.9.0",
{{/hasHttpSignatureMethods}}
    "pydantic >= 2",
    "typing-extensions >= 4.7.1",
{{#lazyImports}}
    "lazy-imports >= 1, < 2",
{{/lazyImports}}
    "cryptography",
]

here = pathlib.Path(__file__).parent.resolve()
long_description = (here / 'README.md').read_text(encoding='utf-8')
long_description = re.sub("<source[^>]*>\n", '', long_description.replace("<picture>\n", "").replace("</picture>\n", ""))
long_description = re.sub(r"(?P<prefix>\[[^]]*]\()(?P<postfix>docs/[^)]*\))", '\g<prefix>{{packageUrl}}/blob/main/\g<postfix>', long_description)

setup(
    name=NAME,
    version=VERSION,
    description="{{{packageDescription}}}", # noqa: E501
    long_description=long_description,
    long_description_content_type='text/markdown',
    {{#licenseInfo}}license="{{.}}",
    license_files=["LICENSE"],
    {{/licenseInfo}}author="{{infoName}}{{^infoName}}OpenAPI Generator community{{/infoName}}",
    author_email="{{infoEmail}}{{^infoEmail}}team@openapitools.org{{/infoEmail}}",
    project_urls={
        "Changelog": "{{packageUrl}}/blob/main/CHANGELOG.md",
        "Code": "{{packageUrl}}",
        "Issue Tracker": "{{packageUrl}}/issues",
    },
    keywords=["Fingerprint Server API", "browser", "detection", "fingerprint", "identification",
              "fingerprinting", "browser-fingerprinting", "browser-fingerprint", "fraud-detection", "fraud",
              "audio-fingerprinting", "fingerprintjs", "fingerprintjs-pro", "visitor-identifier"],
    install_requires=REQUIRES,
    packages=find_packages(exclude=["test"]),
    include_package_data=True,
    classifiers=[
        'Development Status :: 5 - Production/Stable',
        'Intended Audience :: Developers',
        'License :: OSI Approved :: MIT License',
        'Programming Language :: Python',
        'Programming Language :: Python :: 3.9',
        'Programming Language :: Python :: 3.10',
        'Programming Language :: Python :: 3.12',
        'Programming Language :: Python :: 3.12',
        'Programming Language :: Python :: Implementation :: PyPy',
        'Topic :: Software Development :: Libraries :: Python Modules',
        'Topic :: Security',
    ],
    package_data={"{{{packageName}}}": ["py.typed"]},
)