PRIVATE_KEY=<SECRET_API_KEY>
VISITOR_ID_TO_DELETE=<VISITOR_ID_TO_DELETE>  # for delete visitor example
EVENT_ID_TO_UPDATE=<REQUEST_ID_TO_UPDATE>  # for update event example
# put 'eu' or 'ap' if necessary, 'us' is default
REGION=<REGION>

# Sealed Results Example
BASE64_SEALED_RESULT=
BASE64_KEY=