"""
Server API
Fingerprint Server API allows you to get, search, and update Events in a server environment. It can be used for data exports, decision-making, and data analysis scenarios.
Server API is intended for server-side usage, it's not intended to be used from the client side, whether it's a browser or a mobile device.

The version of the OpenAPI document: 4
Contact: support@fingerprint.com
Generated by OpenAPI Generator (https://openapi-generator.tech)

Do not edit the class manually.
"""  # noqa: E501

from typing import Annotated, Any, Optional, Union  # noqa: UP035

from pydantic import Field, StrictBool, StrictFloat, StrictInt, StrictStr, validate_call

from fingerprint_server_sdk.api_client import ApiClient, RequestSerialized
from fingerprint_server_sdk.api_response import ApiResponse
from fingerprint_server_sdk.configuration import Configuration
from fingerprint_server_sdk.models.event import Event
from fingerprint_server_sdk.models.event_search import EventSearch
from fingerprint_server_sdk.models.event_update import EventUpdate
from fingerprint_server_sdk.models.search_events_bot import SearchEventsBot
from fingerprint_server_sdk.models.search_events_incremental_identification_status import (
    SearchEventsIncrementalIdentificationStatus,
)
from fingerprint_server_sdk.models.search_events_sdk_platform import SearchEventsSdkPlatform
from fingerprint_server_sdk.models.search_events_vpn_confidence import SearchEventsVpnConfidence
from fingerprint_server_sdk.rest import RESTResponseType

# Type alias for query and form parameter values
ParamValue = Union[str, int, float, bool, list[str]]


class FingerprintApi:
    """Fingerprint Python Server SDK

    Fingerprint (https://fingerprint.com) is a device intelligence platform offering industry-leading accuracy. Fingerprint Server API allows you to search, update, and delete identification events in a server environment. It can be used for data exports, decision-making, and data analysis scenarios. Server API is intended for server-side usage, it's not intended to be used from the client side, whether it's a browser or a mobile device.

    :param configuration: API client configuration.
    """

    def __init__(self, configuration: Configuration) -> None:
        self.api_client = ApiClient(configuration)

    @validate_call
    def delete_visitor_data(
        self,
        visitor_id: Annotated[
            StrictStr,
            Field(
                description='The [visitor ID](https://docs.fingerprint.com/reference/js-agent-v4-get-function#visitor_id) you want to delete.'
            ),
        ],
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            tuple[Annotated[StrictFloat, Field(gt=0)], Annotated[StrictFloat, Field(gt=0)]],
        ] = None,
        _request_auth: Optional[dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[dict[StrictStr, Any]] = None,
    ) -> None:
        """Delete data by visitor ID

        Request deleting all data associated with the specified visitor ID. This API is useful for compliance with privacy regulations.  ### Which data is deleted? - Browser (or device) properties - Identification requests made from this browser (or device)  #### Browser (or device) properties - Represents the data that Fingerprint collected from this specific browser (or device) and everything inferred and derived from it. - Upon request to delete, this data is deleted asynchronously (typically within a few minutes) and it will no longer be used to identify this browser (or device) for your [Fingerprint Workspace](https://docs.fingerprint.com/docs/glossary#fingerprint-workspace).  #### Identification requests made from this browser (or device) - Fingerprint stores the identification requests made from a browser (or device) for up to 30 (or 90) days depending on your plan. To learn more, see [Data Retention](https://docs.fingerprint.com/docs/regions#data-retention). - Upon request to delete, the identification requests that were made by this browser   - Within the past 10 days are deleted within 24 hrs.   - Outside of 10 days are allowed to purge as per your data retention period.  ### Corollary After requesting to delete a visitor ID, - If the same browser (or device) requests to identify, it will receive a different visitor ID. - If you request [`/v4/events` API](https://docs.fingerprint.com/reference/server-api-v4-get-event) with an `event_id` that was made outside of the 10 days, you will still receive a valid response.  ### Interested? Please [contact our support team](https://fingerprint.com/support/) to enable it for you. Otherwise, you will receive a 403.

        :param visitor_id: The [visitor ID](https://docs.fingerprint.com/reference/js-agent-v4-get-function#visitor_id) you want to delete. (required)
        :type visitor_id: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :return: Returns the result object.
        """  # noqa: E501

        _param = self._delete_visitor_data_serialize(
            visitor_id=visitor_id,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
        )

        _response_types_map: dict[str, Optional[str]] = {
            '200': None,
            '400': 'ErrorResponse',
            '403': 'ErrorResponse',
            '404': 'ErrorResponse',
            '429': 'ErrorResponse',
        }

        response_data = self.api_client.call_api(*_param, _request_timeout=_request_timeout)
        response_data.read()
        self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        )

    @validate_call
    def delete_visitor_data_with_http_info(
        self,
        visitor_id: Annotated[
            StrictStr,
            Field(
                description='The [visitor ID](https://docs.fingerprint.com/reference/js-agent-v4-get-function#visitor_id) you want to delete.'
            ),
        ],
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            tuple[Annotated[StrictFloat, Field(gt=0)], Annotated[StrictFloat, Field(gt=0)]],
        ] = None,
        _request_auth: Optional[dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[dict[StrictStr, Any]] = None,
    ) -> ApiResponse[None]:
        """Delete data by visitor ID

        Request deleting all data associated with the specified visitor ID. This API is useful for compliance with privacy regulations.  ### Which data is deleted? - Browser (or device) properties - Identification requests made from this browser (or device)  #### Browser (or device) properties - Represents the data that Fingerprint collected from this specific browser (or device) and everything inferred and derived from it. - Upon request to delete, this data is deleted asynchronously (typically within a few minutes) and it will no longer be used to identify this browser (or device) for your [Fingerprint Workspace](https://docs.fingerprint.com/docs/glossary#fingerprint-workspace).  #### Identification requests made from this browser (or device) - Fingerprint stores the identification requests made from a browser (or device) for up to 30 (or 90) days depending on your plan. To learn more, see [Data Retention](https://docs.fingerprint.com/docs/regions#data-retention). - Upon request to delete, the identification requests that were made by this browser   - Within the past 10 days are deleted within 24 hrs.   - Outside of 10 days are allowed to purge as per your data retention period.  ### Corollary After requesting to delete a visitor ID, - If the same browser (or device) requests to identify, it will receive a different visitor ID. - If you request [`/v4/events` API](https://docs.fingerprint.com/reference/server-api-v4-get-event) with an `event_id` that was made outside of the 10 days, you will still receive a valid response.  ### Interested? Please [contact our support team](https://fingerprint.com/support/) to enable it for you. Otherwise, you will receive a 403.

        :param visitor_id: The [visitor ID](https://docs.fingerprint.com/reference/js-agent-v4-get-function#visitor_id) you want to delete. (required)
        :type visitor_id: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :return: Returns the result object.
        """  # noqa: E501

        _param = self._delete_visitor_data_serialize(
            visitor_id=visitor_id,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
        )

        _response_types_map: dict[str, Optional[str]] = {
            '200': None,
            '400': 'ErrorResponse',
            '403': 'ErrorResponse',
            '404': 'ErrorResponse',
            '429': 'ErrorResponse',
        }

        response_data = self.api_client.call_api(*_param, _request_timeout=_request_timeout)
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        )

    @validate_call
    def delete_visitor_data_without_preload_content(
        self,
        visitor_id: Annotated[
            StrictStr,
            Field(
                description='The [visitor ID](https://docs.fingerprint.com/reference/js-agent-v4-get-function#visitor_id) you want to delete.'
            ),
        ],
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            tuple[Annotated[StrictFloat, Field(gt=0)], Annotated[StrictFloat, Field(gt=0)]],
        ] = None,
        _request_auth: Optional[dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[dict[StrictStr, Any]] = None,
    ) -> RESTResponseType:
        """Delete data by visitor ID

        Request deleting all data associated with the specified visitor ID. This API is useful for compliance with privacy regulations.  ### Which data is deleted? - Browser (or device) properties - Identification requests made from this browser (or device)  #### Browser (or device) properties - Represents the data that Fingerprint collected from this specific browser (or device) and everything inferred and derived from it. - Upon request to delete, this data is deleted asynchronously (typically within a few minutes) and it will no longer be used to identify this browser (or device) for your [Fingerprint Workspace](https://docs.fingerprint.com/docs/glossary#fingerprint-workspace).  #### Identification requests made from this browser (or device) - Fingerprint stores the identification requests made from a browser (or device) for up to 30 (or 90) days depending on your plan. To learn more, see [Data Retention](https://docs.fingerprint.com/docs/regions#data-retention). - Upon request to delete, the identification requests that were made by this browser   - Within the past 10 days are deleted within 24 hrs.   - Outside of 10 days are allowed to purge as per your data retention period.  ### Corollary After requesting to delete a visitor ID, - If the same browser (or device) requests to identify, it will receive a different visitor ID. - If you request [`/v4/events` API](https://docs.fingerprint.com/reference/server-api-v4-get-event) with an `event_id` that was made outside of the 10 days, you will still receive a valid response.  ### Interested? Please [contact our support team](https://fingerprint.com/support/) to enable it for you. Otherwise, you will receive a 403.

        :param visitor_id: The [visitor ID](https://docs.fingerprint.com/reference/js-agent-v4-get-function#visitor_id) you want to delete. (required)
        :type visitor_id: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :return: Returns the result object.
        """  # noqa: E501

        _param = self._delete_visitor_data_serialize(
            visitor_id=visitor_id,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
        )

        _response_types_map: dict[str, Optional[str]] = {
            '200': None,
            '400': 'ErrorResponse',
            '403': 'ErrorResponse',
            '404': 'ErrorResponse',
            '429': 'ErrorResponse',
        }

        response_data = self.api_client.call_api(*_param, _request_timeout=_request_timeout)
        return response_data.response

    def _delete_visitor_data_serialize(
        self,
        visitor_id: str,
        _request_auth: Optional[dict[StrictStr, Any]],
        _content_type: Optional[StrictStr],
        _headers: Optional[dict[StrictStr, Any]],
    ) -> RequestSerialized:

        _collection_formats: dict[str, str] = {}

        _path_params: dict[str, str] = {}
        _query_params: list[tuple[str, ParamValue]] = []
        _header_params: dict[str, Optional[str]] = _headers or {}
        _form_params: list[tuple[str, ParamValue]] = []
        _files: dict[
            str,
            Union[str, bytes, list[str], list[bytes], tuple[str, bytes], list[tuple[str, bytes]]],
        ] = {}
        _body_params: Optional[Any] = None

        # process the path parameters
        if visitor_id is not None:
            _path_params['visitor_id'] = visitor_id

        # set the HTTP header `Accept`
        if 'Accept' not in _header_params:
            _header_params['Accept'] = self.api_client.select_header_accept(['application/json'])

        # authentication setting
        _auth_settings: list[str] = ['bearerAuth']

        return self.api_client.param_serialize(
            method='DELETE',
            resource_path='/visitors/{visitor_id}',
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            auth_settings=_auth_settings,
            collection_formats=_collection_formats,
            _request_auth=_request_auth,
        )

    @validate_call
    def get_event(
        self,
        event_id: Annotated[
            StrictStr,
            Field(
                description='The unique [identifier](https://docs.fingerprint.com/reference/js-agent-v4-get-function#event_id) of each identification request (`requestId` can be used in its place).'
            ),
        ],
        ruleset_id: Annotated[
            Optional[StrictStr],
            Field(
                description='The ID of the ruleset to evaluate against the event, producing the action to take for this event. The resulting action is returned in the `rule_action` attribute of the response. '
            ),
        ] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            tuple[Annotated[StrictFloat, Field(gt=0)], Annotated[StrictFloat, Field(gt=0)]],
        ] = None,
        _request_auth: Optional[dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[dict[StrictStr, Any]] = None,
    ) -> Event:
        """Get an event by event ID

        Get a detailed analysis of an individual identification event, including Smart Signals.  Use `event_id` as the URL path parameter. This API method is scoped to a request, i.e. all returned information is by `event_id`.

        :param event_id: The unique [identifier](https://docs.fingerprint.com/reference/js-agent-v4-get-function#event_id) of each identification request (`requestId` can be used in its place). (required)
        :type event_id: str
        :param ruleset_id: The ID of the ruleset to evaluate against the event, producing the action to take for this event. The resulting action is returned in the `rule_action` attribute of the response.
        :type ruleset_id: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :return: Returns the result object.
        """  # noqa: E501

        _param = self._get_event_serialize(
            event_id=event_id,
            ruleset_id=ruleset_id,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
        )

        _response_types_map: dict[str, Optional[str]] = {
            '200': 'Event',
            '400': 'ErrorResponse',
            '403': 'ErrorResponse',
            '404': 'ErrorResponse',
            '429': 'ErrorResponse',
            '500': 'ErrorResponse',
        }

        response_data = self.api_client.call_api(*_param, _request_timeout=_request_timeout)
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data

    @validate_call
    def get_event_with_http_info(
        self,
        event_id: Annotated[
            StrictStr,
            Field(
                description='The unique [identifier](https://docs.fingerprint.com/reference/js-agent-v4-get-function#event_id) of each identification request (`requestId` can be used in its place).'
            ),
        ],
        ruleset_id: Annotated[
            Optional[StrictStr],
            Field(
                description='The ID of the ruleset to evaluate against the event, producing the action to take for this event. The resulting action is returned in the `rule_action` attribute of the response. '
            ),
        ] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            tuple[Annotated[StrictFloat, Field(gt=0)], Annotated[StrictFloat, Field(gt=0)]],
        ] = None,
        _request_auth: Optional[dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[dict[StrictStr, Any]] = None,
    ) -> ApiResponse[Event]:
        """Get an event by event ID

        Get a detailed analysis of an individual identification event, including Smart Signals.  Use `event_id` as the URL path parameter. This API method is scoped to a request, i.e. all returned information is by `event_id`.

        :param event_id: The unique [identifier](https://docs.fingerprint.com/reference/js-agent-v4-get-function#event_id) of each identification request (`requestId` can be used in its place). (required)
        :type event_id: str
        :param ruleset_id: The ID of the ruleset to evaluate against the event, producing the action to take for this event. The resulting action is returned in the `rule_action` attribute of the response.
        :type ruleset_id: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :return: Returns the result object.
        """  # noqa: E501

        _param = self._get_event_serialize(
            event_id=event_id,
            ruleset_id=ruleset_id,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
        )

        _response_types_map: dict[str, Optional[str]] = {
            '200': 'Event',
            '400': 'ErrorResponse',
            '403': 'ErrorResponse',
            '404': 'ErrorResponse',
            '429': 'ErrorResponse',
            '500': 'ErrorResponse',
        }

        response_data = self.api_client.call_api(*_param, _request_timeout=_request_timeout)
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        )

    @validate_call
    def get_event_without_preload_content(
        self,
        event_id: Annotated[
            StrictStr,
            Field(
                description='The unique [identifier](https://docs.fingerprint.com/reference/js-agent-v4-get-function#event_id) of each identification request (`requestId` can be used in its place).'
            ),
        ],
        ruleset_id: Annotated[
            Optional[StrictStr],
            Field(
                description='The ID of the ruleset to evaluate against the event, producing the action to take for this event. The resulting action is returned in the `rule_action` attribute of the response. '
            ),
        ] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            tuple[Annotated[StrictFloat, Field(gt=0)], Annotated[StrictFloat, Field(gt=0)]],
        ] = None,
        _request_auth: Optional[dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[dict[StrictStr, Any]] = None,
    ) -> RESTResponseType:
        """Get an event by event ID

        Get a detailed analysis of an individual identification event, including Smart Signals.  Use `event_id` as the URL path parameter. This API method is scoped to a request, i.e. all returned information is by `event_id`.

        :param event_id: The unique [identifier](https://docs.fingerprint.com/reference/js-agent-v4-get-function#event_id) of each identification request (`requestId` can be used in its place). (required)
        :type event_id: str
        :param ruleset_id: The ID of the ruleset to evaluate against the event, producing the action to take for this event. The resulting action is returned in the `rule_action` attribute of the response.
        :type ruleset_id: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :return: Returns the result object.
        """  # noqa: E501

        _param = self._get_event_serialize(
            event_id=event_id,
            ruleset_id=ruleset_id,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
        )

        _response_types_map: dict[str, Optional[str]] = {
            '200': 'Event',
            '400': 'ErrorResponse',
            '403': 'ErrorResponse',
            '404': 'ErrorResponse',
            '429': 'ErrorResponse',
            '500': 'ErrorResponse',
        }

        response_data = self.api_client.call_api(*_param, _request_timeout=_request_timeout)
        return response_data.response

    def _get_event_serialize(
        self,
        event_id: str,
        ruleset_id: Optional[str],
        _request_auth: Optional[dict[StrictStr, Any]],
        _content_type: Optional[StrictStr],
        _headers: Optional[dict[StrictStr, Any]],
    ) -> RequestSerialized:

        _collection_formats: dict[str, str] = {}

        _path_params: dict[str, str] = {}
        _query_params: list[tuple[str, ParamValue]] = []
        _header_params: dict[str, Optional[str]] = _headers or {}
        _form_params: list[tuple[str, ParamValue]] = []
        _files: dict[
            str,
            Union[str, bytes, list[str], list[bytes], tuple[str, bytes], list[tuple[str, bytes]]],
        ] = {}
        _body_params: Optional[Any] = None

        # process the path parameters
        if event_id is not None:
            _path_params['event_id'] = event_id

        # process the query parameters
        if ruleset_id is not None:
            _query_params.append(('ruleset_id', ruleset_id))

        # set the HTTP header `Accept`
        if 'Accept' not in _header_params:
            _header_params['Accept'] = self.api_client.select_header_accept(['application/json'])

        # authentication setting
        _auth_settings: list[str] = ['bearerAuth']

        return self.api_client.param_serialize(
            method='GET',
            resource_path='/events/{event_id}',
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            auth_settings=_auth_settings,
            collection_formats=_collection_formats,
            _request_auth=_request_auth,
        )

    @validate_call
    def search_events(
        self,
        limit: Annotated[
            Optional[Annotated[int, Field(le=100, strict=True, ge=1)]],
            Field(description='Limit the number of events returned. '),
        ] = None,
        pagination_key: Annotated[
            Optional[StrictStr],
            Field(
                description='Use `pagination_key` to get the next page of results.  When more results are available (e.g., you requested up to 100 results for your query using `limit`, but there are more than 100 events total matching your request), the `pagination_key` field is added to the response. The pagination key is an arbitrary string that should not be interpreted in any way and should be passed as-is. In the following request, use that value in the `pagination_key` parameter to get the next page of results:  1. First request, returning most recent 200 events: `GET api-base-url/events?limit=100` 2. Use `response.pagination_key` to get the next page of results: `GET api-base-url/events?limit=100&pagination_key=1740815825085` '
            ),
        ] = None,
        visitor_id: Annotated[
            Optional[StrictStr],
            Field(
                description='Unique [visitor identifier](https://docs.fingerprint.com/reference/js-agent-v4-get-function#visitor_id) issued by Fingerprint Identification and all active Smart Signals.  Filter events by matching Visitor ID (`identification.visitor_id` property). '
            ),
        ] = None,
        high_recall_id: Annotated[
            Optional[StrictStr],
            Field(
                description='The High Recall ID is a supplementary browser identifier designed for use cases that require wider coverage over precision. Compared to the standard visitor ID, the High Recall ID strives to match incoming browsers more generously (rather than precisely) with existing browsers and thus identifies fewer browsers as new. The High Recall ID is best suited for use cases that are sensitive to browsers being identified as new and where mismatched browsers are not detrimental.  Filter events by matching High Recall ID (`supplementary_id_high_recall.visitor_id` property). '
            ),
        ] = None,
        bot: Annotated[
            Optional[SearchEventsBot],
            Field(
                description='Filter events by the Bot Detection result, specifically:   `all` - events where any kind of bot was detected.   `good` - events where a good bot was detected.   `bad` - events where a bad bot was detected.   `none` - events where no bot was detected. > Note: When using this parameter, only events with the `bot` property set to a valid value are returned. Events without a `bot` Smart Signal result are left out of the response. '
            ),
        ] = None,
        ip_address: Annotated[
            Optional[StrictStr],
            Field(
                description='Filter events by IP address or IP range (if CIDR notation is used). If CIDR notation is not used, a /32 for IPv4 or /128 for IPv6 is assumed. Examples of range based queries: 10.0.0.0/24, 192.168.0.1/32 '
            ),
        ] = None,
        asn: Annotated[
            Optional[StrictStr],
            Field(
                description="Filter events by the ASN associated with the event's IP address. This corresponds to the `ip_info.(v4|v6).asn` property in the response. "
            ),
        ] = None,
        linked_id: Annotated[
            Optional[StrictStr],
            Field(
                description='Filter events by your custom identifier.  You can use [linked Ids](https://docs.fingerprint.com/reference/js-agent-v4-get-function#linkedid) to associate identification requests with your own identifier, for example, session Id, purchase Id, or transaction Id. You can then use this `linked_id` parameter to retrieve all events associated with your custom identifier. '
            ),
        ] = None,
        url: Annotated[
            Optional[StrictStr],
            Field(
                description='Filter events by the URL (`url` property) associated with the event. '
            ),
        ] = None,
        bundle_id: Annotated[
            Optional[StrictStr],
            Field(description='Filter events by the Bundle ID (iOS) associated with the event. '),
        ] = None,
        package_name: Annotated[
            Optional[StrictStr],
            Field(
                description='Filter events by the Package Name (Android) associated with the event. '
            ),
        ] = None,
        origin: Annotated[
            Optional[StrictStr],
            Field(
                description='Filter events by the origin field of the event. This is applicable to web events only (e.g., https://example.com) '
            ),
        ] = None,
        start: Annotated[
            Optional[StrictInt],
            Field(
                description='Filter events with a timestamp greater than the start time, in Unix time (milliseconds). '
            ),
        ] = None,
        end: Annotated[
            Optional[StrictInt],
            Field(
                description='Filter events with a timestamp smaller than the end time, in Unix time (milliseconds). '
            ),
        ] = None,
        reverse: Annotated[
            Optional[StrictBool], Field(description='Sort events in reverse timestamp order. ')
        ] = None,
        suspect: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events previously tagged as suspicious via the [Update API](https://docs.fingerprint.com/reference/server-api-v4-update-event). > Note: When using this parameter, only events with the `suspect` property explicitly set to `true` or `false` are returned. Events with undefined `suspect` property are left out of the response. '
            ),
        ] = None,
        vpn: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by VPN Detection result. > Note: When using this parameter, only events with the `vpn` property set to `true` or `false` are returned. Events without a `vpn` Smart Signal result are left out of the response. '
            ),
        ] = None,
        virtual_machine: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Virtual Machine Detection result. > Note: When using this parameter, only events with the `virtual_machine` property set to `true` or `false` are returned. Events without a `virtual_machine` Smart Signal result are left out of the response. '
            ),
        ] = None,
        tampering: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Browser Tampering Detection result. > Note: When using this parameter, only events with the `tampering.result` property set to `true` or `false` are returned. Events without a `tampering` Smart Signal result are left out of the response. '
            ),
        ] = None,
        anti_detect_browser: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Anti-detect Browser Detection result. > Note: When using this parameter, only events with the `tampering.anti_detect_browser` property set to `true` or `false` are returned. Events without a `tampering` Smart Signal result are left out of the response. '
            ),
        ] = None,
        incognito: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Browser Incognito Detection result. > Note: When using this parameter, only events with the `incognito` property set to `true` or `false` are returned. Events without an `incognito` Smart Signal result are left out of the response. '
            ),
        ] = None,
        privacy_settings: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Privacy Settings Detection result. > Note: When using this parameter, only events with the `privacy_settings` property set to `true` or `false` are returned. Events without a `privacy_settings` Smart Signal result are left out of the response. '
            ),
        ] = None,
        jailbroken: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Jailbroken Device Detection result. > Note: When using this parameter, only events with the `jailbroken` property set to `true` or `false` are returned. Events without a `jailbroken` Smart Signal result are left out of the response. '
            ),
        ] = None,
        frida: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Frida Detection result. > Note: When using this parameter, only events with the `frida` property set to `true` or `false` are returned. Events without a `frida` Smart Signal result are left out of the response. '
            ),
        ] = None,
        factory_reset: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Factory Reset Detection result. > Note: When using this parameter, only events with a `factory_reset` time. Events without a `factory_reset` Smart Signal result are left out of the response. '
            ),
        ] = None,
        cloned_app: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Cloned App Detection result. > Note: When using this parameter, only events with the `cloned_app` property set to `true` or `false` are returned. Events without a `cloned_app` Smart Signal result are left out of the response. '
            ),
        ] = None,
        emulator: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Android Emulator Detection result. > Note: When using this parameter, only events with the `emulator` property set to `true` or `false` are returned. Events without an `emulator` Smart Signal result are left out of the response. '
            ),
        ] = None,
        root_apps: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Rooted Device Detection result. > Note: When using this parameter, only events with the `root_apps` property set to `true` or `false` are returned. Events without a `root_apps` Smart Signal result are left out of the response. '
            ),
        ] = None,
        vpn_confidence: Annotated[
            Optional[SearchEventsVpnConfidence],
            Field(
                description='Filter events by VPN Detection result confidence level. `high` - events with high VPN Detection confidence. `medium` - events with medium VPN Detection confidence. `low` - events with low VPN Detection confidence. > Note: When using this parameter, only events with the `vpn.confidence` property set to a valid value are returned. Events without a `vpn` Smart Signal result are left out of the response. '
            ),
        ] = None,
        min_suspect_score: Annotated[
            Optional[Union[StrictFloat, StrictInt]],
            Field(
                description='Filter events with Suspect Score result above a provided minimum threshold. > Note: When using this parameter, only events where the `suspect_score` property set to a value exceeding your threshold are returned. Events without a `suspect_score` Smart Signal result are left out of the response. '
            ),
        ] = None,
        developer_tools: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Developer Tools detection result. > Note: When using this parameter, only events with the `developer_tools` property set to `true` or `false` are returned. Events without a `developer_tools` Smart Signal result are left out of the response. '
            ),
        ] = None,
        location_spoofing: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Location Spoofing detection result. > Note: When using this parameter, only events with the `location_spoofing` property set to `true` or `false` are returned. Events without a `location_spoofing` Smart Signal result are left out of the response. '
            ),
        ] = None,
        mitm_attack: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by MITM (Man-in-the-Middle) Attack detection result. > Note: When using this parameter, only events with the `mitm_attack` property set to `true` or `false` are returned. Events without a `mitm_attack` Smart Signal result are left out of the response. '
            ),
        ] = None,
        proxy: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Proxy detection result. > Note: When using this parameter, only events with the `proxy` property set to `true` or `false` are returned. Events without a `proxy` Smart Signal result are left out of the response. '
            ),
        ] = None,
        sdk_version: Annotated[
            Optional[StrictStr],
            Field(
                description='Filter events by a specific SDK version associated with the identification event (`sdk.version` property). Example: `3.11.14` '
            ),
        ] = None,
        sdk_platform: Annotated[
            Optional[SearchEventsSdkPlatform],
            Field(
                description='Filter events by the SDK Platform associated with the identification event (`sdk.platform` property) . `js` - Javascript agent (Web). `ios` - Apple iOS based devices. `android` - Android based devices. '
            ),
        ] = None,
        environment: Annotated[
            Optional[list[StrictStr]],
            Field(
                description='Filter for events by providing one or more environment IDs (`environment_id` property).  ### Array syntax To provide multiple environment IDs, use the repeated keys syntax (`environment=env1&environment=env2`). Other notations like comma-separated (`environment=env1,env2`) or bracket notation (`environment[]=env1&environment[]=env2`) are not supported. '
            ),
        ] = None,
        proximity_id: Annotated[
            Optional[StrictStr],
            Field(
                description='Filter events by the most precise Proximity ID provided by default. > Note: When using this parameter, only events with the `proximity.id` property matching the provided ID are returned. Events without a `proximity` result are left out of the response. '
            ),
        ] = None,
        total_hits: Annotated[
            Optional[Annotated[int, Field(le=1000, strict=True, ge=1)]],
            Field(
                description='When set, the response will include a `total_hits` property with a count of total query matches across all pages, up to the specified limit. '
            ),
        ] = None,
        tor_node: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Tor Node detection result. > Note: When using this parameter, only events with the `tor_node` property set to `true` or `false` are returned. Events without a `tor_node` detection result are left out of the response. '
            ),
        ] = None,
        incremental_identification_status: Annotated[
            Optional[SearchEventsIncrementalIdentificationStatus],
            Field(
                description='Filter events by their incremental identification status (`incremental_identification_status` property). Non incremental identification events are left out of the response. '
            ),
        ] = None,
        simulator: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by iOS Simulator Detection result.  > Note: When using this parameter, only events with the `simulator` property set to `true` or `false` are returned. Events without a `simulator` Smart Signal result are left out of the response. '
            ),
        ] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            tuple[Annotated[StrictFloat, Field(gt=0)], Annotated[StrictFloat, Field(gt=0)]],
        ] = None,
        _request_auth: Optional[dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[dict[StrictStr, Any]] = None,
    ) -> EventSearch:
        """Search events

        ## Search  The `/v4/events` endpoint provides a convenient way to search for past events based on specific parameters. Typical use cases and queries include:  - Searching for events associated with a single `visitor_id` within a time range to get historical behavior of a visitor. - Searching for events associated with a single `linked_id` within a time range to get all events associated with your internal account identifier. - Excluding all bot traffic from the query (`good` and `bad` bots)  If you don't provide `start` or `end` parameters, the default search range is the **last 7 days**.  ### Filtering events with the `suspect` flag  The `/v4/events` endpoint unlocks a powerful method for fraud protection analytics. The `suspect` flag is exposed in all events where it was previously set by the update API.  You can also apply the `suspect` query parameter as a filter to find all potentially fraudulent activity that you previously marked as `suspect`. This helps identify patterns of fraudulent behavior.  ### Environment scoping  If you use a secret key that is scoped to an environment, you will only get events associated with the same environment. With a workspace-scoped environment, you will get events from all environments.  Smart Signals not activated for your workspace or are not included in the response.

        :param limit: Limit the number of events returned.
        :type limit: int
        :param pagination_key: Use `pagination_key` to get the next page of results.  When more results are available (e.g., you requested up to 100 results for your query using `limit`, but there are more than 100 events total matching your request), the `pagination_key` field is added to the response. The pagination key is an arbitrary string that should not be interpreted in any way and should be passed as-is. In the following request, use that value in the `pagination_key` parameter to get the next page of results:  1. First request, returning most recent 200 events: `GET api-base-url/events?limit=100` 2. Use `response.pagination_key` to get the next page of results: `GET api-base-url/events?limit=100&pagination_key=1740815825085`
        :type pagination_key: str
        :param visitor_id: Unique [visitor identifier](https://docs.fingerprint.com/reference/js-agent-v4-get-function#visitor_id) issued by Fingerprint Identification and all active Smart Signals.  Filter events by matching Visitor ID (`identification.visitor_id` property).
        :type visitor_id: str
        :param high_recall_id: The High Recall ID is a supplementary browser identifier designed for use cases that require wider coverage over precision. Compared to the standard visitor ID, the High Recall ID strives to match incoming browsers more generously (rather than precisely) with existing browsers and thus identifies fewer browsers as new. The High Recall ID is best suited for use cases that are sensitive to browsers being identified as new and where mismatched browsers are not detrimental.  Filter events by matching High Recall ID (`supplementary_id_high_recall.visitor_id` property).
        :type high_recall_id: str
        :param bot: Filter events by the Bot Detection result, specifically:   `all` - events where any kind of bot was detected.   `good` - events where a good bot was detected.   `bad` - events where a bad bot was detected.   `none` - events where no bot was detected. > Note: When using this parameter, only events with the `bot` property set to a valid value are returned. Events without a `bot` Smart Signal result are left out of the response.
        :type bot: SearchEventsBot
        :param ip_address: Filter events by IP address or IP range (if CIDR notation is used). If CIDR notation is not used, a /32 for IPv4 or /128 for IPv6 is assumed. Examples of range based queries: 10.0.0.0/24, 192.168.0.1/32
        :type ip_address: str
        :param asn: Filter events by the ASN associated with the event's IP address. This corresponds to the `ip_info.(v4|v6).asn` property in the response.
        :type asn: str
        :param linked_id: Filter events by your custom identifier.  You can use [linked Ids](https://docs.fingerprint.com/reference/js-agent-v4-get-function#linkedid) to associate identification requests with your own identifier, for example, session Id, purchase Id, or transaction Id. You can then use this `linked_id` parameter to retrieve all events associated with your custom identifier.
        :type linked_id: str
        :param url: Filter events by the URL (`url` property) associated with the event.
        :type url: str
        :param bundle_id: Filter events by the Bundle ID (iOS) associated with the event.
        :type bundle_id: str
        :param package_name: Filter events by the Package Name (Android) associated with the event.
        :type package_name: str
        :param origin: Filter events by the origin field of the event. This is applicable to web events only (e.g., https://example.com)
        :type origin: str
        :param start: Filter events with a timestamp greater than the start time, in Unix time (milliseconds).
        :type start: int
        :param end: Filter events with a timestamp smaller than the end time, in Unix time (milliseconds).
        :type end: int
        :param reverse: Sort events in reverse timestamp order.
        :type reverse: bool
        :param suspect: Filter events previously tagged as suspicious via the [Update API](https://docs.fingerprint.com/reference/server-api-v4-update-event). > Note: When using this parameter, only events with the `suspect` property explicitly set to `true` or `false` are returned. Events with undefined `suspect` property are left out of the response.
        :type suspect: bool
        :param vpn: Filter events by VPN Detection result. > Note: When using this parameter, only events with the `vpn` property set to `true` or `false` are returned. Events without a `vpn` Smart Signal result are left out of the response.
        :type vpn: bool
        :param virtual_machine: Filter events by Virtual Machine Detection result. > Note: When using this parameter, only events with the `virtual_machine` property set to `true` or `false` are returned. Events without a `virtual_machine` Smart Signal result are left out of the response.
        :type virtual_machine: bool
        :param tampering: Filter events by Browser Tampering Detection result. > Note: When using this parameter, only events with the `tampering.result` property set to `true` or `false` are returned. Events without a `tampering` Smart Signal result are left out of the response.
        :type tampering: bool
        :param anti_detect_browser: Filter events by Anti-detect Browser Detection result. > Note: When using this parameter, only events with the `tampering.anti_detect_browser` property set to `true` or `false` are returned. Events without a `tampering` Smart Signal result are left out of the response.
        :type anti_detect_browser: bool
        :param incognito: Filter events by Browser Incognito Detection result. > Note: When using this parameter, only events with the `incognito` property set to `true` or `false` are returned. Events without an `incognito` Smart Signal result are left out of the response.
        :type incognito: bool
        :param privacy_settings: Filter events by Privacy Settings Detection result. > Note: When using this parameter, only events with the `privacy_settings` property set to `true` or `false` are returned. Events without a `privacy_settings` Smart Signal result are left out of the response.
        :type privacy_settings: bool
        :param jailbroken: Filter events by Jailbroken Device Detection result. > Note: When using this parameter, only events with the `jailbroken` property set to `true` or `false` are returned. Events without a `jailbroken` Smart Signal result are left out of the response.
        :type jailbroken: bool
        :param frida: Filter events by Frida Detection result. > Note: When using this parameter, only events with the `frida` property set to `true` or `false` are returned. Events without a `frida` Smart Signal result are left out of the response.
        :type frida: bool
        :param factory_reset: Filter events by Factory Reset Detection result. > Note: When using this parameter, only events with a `factory_reset` time. Events without a `factory_reset` Smart Signal result are left out of the response.
        :type factory_reset: bool
        :param cloned_app: Filter events by Cloned App Detection result. > Note: When using this parameter, only events with the `cloned_app` property set to `true` or `false` are returned. Events without a `cloned_app` Smart Signal result are left out of the response.
        :type cloned_app: bool
        :param emulator: Filter events by Android Emulator Detection result. > Note: When using this parameter, only events with the `emulator` property set to `true` or `false` are returned. Events without an `emulator` Smart Signal result are left out of the response.
        :type emulator: bool
        :param root_apps: Filter events by Rooted Device Detection result. > Note: When using this parameter, only events with the `root_apps` property set to `true` or `false` are returned. Events without a `root_apps` Smart Signal result are left out of the response.
        :type root_apps: bool
        :param vpn_confidence: Filter events by VPN Detection result confidence level. `high` - events with high VPN Detection confidence. `medium` - events with medium VPN Detection confidence. `low` - events with low VPN Detection confidence. > Note: When using this parameter, only events with the `vpn.confidence` property set to a valid value are returned. Events without a `vpn` Smart Signal result are left out of the response.
        :type vpn_confidence: SearchEventsVpnConfidence
        :param min_suspect_score: Filter events with Suspect Score result above a provided minimum threshold. > Note: When using this parameter, only events where the `suspect_score` property set to a value exceeding your threshold are returned. Events without a `suspect_score` Smart Signal result are left out of the response.
        :type min_suspect_score: float
        :param developer_tools: Filter events by Developer Tools detection result. > Note: When using this parameter, only events with the `developer_tools` property set to `true` or `false` are returned. Events without a `developer_tools` Smart Signal result are left out of the response.
        :type developer_tools: bool
        :param location_spoofing: Filter events by Location Spoofing detection result. > Note: When using this parameter, only events with the `location_spoofing` property set to `true` or `false` are returned. Events without a `location_spoofing` Smart Signal result are left out of the response.
        :type location_spoofing: bool
        :param mitm_attack: Filter events by MITM (Man-in-the-Middle) Attack detection result. > Note: When using this parameter, only events with the `mitm_attack` property set to `true` or `false` are returned. Events without a `mitm_attack` Smart Signal result are left out of the response.
        :type mitm_attack: bool
        :param proxy: Filter events by Proxy detection result. > Note: When using this parameter, only events with the `proxy` property set to `true` or `false` are returned. Events without a `proxy` Smart Signal result are left out of the response.
        :type proxy: bool
        :param sdk_version: Filter events by a specific SDK version associated with the identification event (`sdk.version` property). Example: `3.11.14`
        :type sdk_version: str
        :param sdk_platform: Filter events by the SDK Platform associated with the identification event (`sdk.platform` property) . `js` - Javascript agent (Web). `ios` - Apple iOS based devices. `android` - Android based devices.
        :type sdk_platform: SearchEventsSdkPlatform
        :param environment: Filter for events by providing one or more environment IDs (`environment_id` property).  ### Array syntax To provide multiple environment IDs, use the repeated keys syntax (`environment=env1&environment=env2`). Other notations like comma-separated (`environment=env1,env2`) or bracket notation (`environment[]=env1&environment[]=env2`) are not supported.
        :type environment: List[str]
        :param proximity_id: Filter events by the most precise Proximity ID provided by default. > Note: When using this parameter, only events with the `proximity.id` property matching the provided ID are returned. Events without a `proximity` result are left out of the response.
        :type proximity_id: str
        :param total_hits: When set, the response will include a `total_hits` property with a count of total query matches across all pages, up to the specified limit.
        :type total_hits: int
        :param tor_node: Filter events by Tor Node detection result. > Note: When using this parameter, only events with the `tor_node` property set to `true` or `false` are returned. Events without a `tor_node` detection result are left out of the response.
        :type tor_node: bool
        :param incremental_identification_status: Filter events by their incremental identification status (`incremental_identification_status` property). Non incremental identification events are left out of the response.
        :type incremental_identification_status: SearchEventsIncrementalIdentificationStatus
        :param simulator: Filter events by iOS Simulator Detection result.  > Note: When using this parameter, only events with the `simulator` property set to `true` or `false` are returned. Events without a `simulator` Smart Signal result are left out of the response.
        :type simulator: bool
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :return: Returns the result object.
        """  # noqa: E501

        _param = self._search_events_serialize(
            limit=limit,
            pagination_key=pagination_key,
            visitor_id=visitor_id,
            high_recall_id=high_recall_id,
            bot=bot,
            ip_address=ip_address,
            asn=asn,
            linked_id=linked_id,
            url=url,
            bundle_id=bundle_id,
            package_name=package_name,
            origin=origin,
            start=start,
            end=end,
            reverse=reverse,
            suspect=suspect,
            vpn=vpn,
            virtual_machine=virtual_machine,
            tampering=tampering,
            anti_detect_browser=anti_detect_browser,
            incognito=incognito,
            privacy_settings=privacy_settings,
            jailbroken=jailbroken,
            frida=frida,
            factory_reset=factory_reset,
            cloned_app=cloned_app,
            emulator=emulator,
            root_apps=root_apps,
            vpn_confidence=vpn_confidence,
            min_suspect_score=min_suspect_score,
            developer_tools=developer_tools,
            location_spoofing=location_spoofing,
            mitm_attack=mitm_attack,
            proxy=proxy,
            sdk_version=sdk_version,
            sdk_platform=sdk_platform,
            environment=environment,
            proximity_id=proximity_id,
            total_hits=total_hits,
            tor_node=tor_node,
            incremental_identification_status=incremental_identification_status,
            simulator=simulator,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
        )

        _response_types_map: dict[str, Optional[str]] = {
            '200': 'EventSearch',
            '400': 'ErrorResponse',
            '403': 'ErrorResponse',
            '500': 'ErrorResponse',
        }

        response_data = self.api_client.call_api(*_param, _request_timeout=_request_timeout)
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data

    @validate_call
    def search_events_with_http_info(
        self,
        limit: Annotated[
            Optional[Annotated[int, Field(le=100, strict=True, ge=1)]],
            Field(description='Limit the number of events returned. '),
        ] = None,
        pagination_key: Annotated[
            Optional[StrictStr],
            Field(
                description='Use `pagination_key` to get the next page of results.  When more results are available (e.g., you requested up to 100 results for your query using `limit`, but there are more than 100 events total matching your request), the `pagination_key` field is added to the response. The pagination key is an arbitrary string that should not be interpreted in any way and should be passed as-is. In the following request, use that value in the `pagination_key` parameter to get the next page of results:  1. First request, returning most recent 200 events: `GET api-base-url/events?limit=100` 2. Use `response.pagination_key` to get the next page of results: `GET api-base-url/events?limit=100&pagination_key=1740815825085` '
            ),
        ] = None,
        visitor_id: Annotated[
            Optional[StrictStr],
            Field(
                description='Unique [visitor identifier](https://docs.fingerprint.com/reference/js-agent-v4-get-function#visitor_id) issued by Fingerprint Identification and all active Smart Signals.  Filter events by matching Visitor ID (`identification.visitor_id` property). '
            ),
        ] = None,
        high_recall_id: Annotated[
            Optional[StrictStr],
            Field(
                description='The High Recall ID is a supplementary browser identifier designed for use cases that require wider coverage over precision. Compared to the standard visitor ID, the High Recall ID strives to match incoming browsers more generously (rather than precisely) with existing browsers and thus identifies fewer browsers as new. The High Recall ID is best suited for use cases that are sensitive to browsers being identified as new and where mismatched browsers are not detrimental.  Filter events by matching High Recall ID (`supplementary_id_high_recall.visitor_id` property). '
            ),
        ] = None,
        bot: Annotated[
            Optional[SearchEventsBot],
            Field(
                description='Filter events by the Bot Detection result, specifically:   `all` - events where any kind of bot was detected.   `good` - events where a good bot was detected.   `bad` - events where a bad bot was detected.   `none` - events where no bot was detected. > Note: When using this parameter, only events with the `bot` property set to a valid value are returned. Events without a `bot` Smart Signal result are left out of the response. '
            ),
        ] = None,
        ip_address: Annotated[
            Optional[StrictStr],
            Field(
                description='Filter events by IP address or IP range (if CIDR notation is used). If CIDR notation is not used, a /32 for IPv4 or /128 for IPv6 is assumed. Examples of range based queries: 10.0.0.0/24, 192.168.0.1/32 '
            ),
        ] = None,
        asn: Annotated[
            Optional[StrictStr],
            Field(
                description="Filter events by the ASN associated with the event's IP address. This corresponds to the `ip_info.(v4|v6).asn` property in the response. "
            ),
        ] = None,
        linked_id: Annotated[
            Optional[StrictStr],
            Field(
                description='Filter events by your custom identifier.  You can use [linked Ids](https://docs.fingerprint.com/reference/js-agent-v4-get-function#linkedid) to associate identification requests with your own identifier, for example, session Id, purchase Id, or transaction Id. You can then use this `linked_id` parameter to retrieve all events associated with your custom identifier. '
            ),
        ] = None,
        url: Annotated[
            Optional[StrictStr],
            Field(
                description='Filter events by the URL (`url` property) associated with the event. '
            ),
        ] = None,
        bundle_id: Annotated[
            Optional[StrictStr],
            Field(description='Filter events by the Bundle ID (iOS) associated with the event. '),
        ] = None,
        package_name: Annotated[
            Optional[StrictStr],
            Field(
                description='Filter events by the Package Name (Android) associated with the event. '
            ),
        ] = None,
        origin: Annotated[
            Optional[StrictStr],
            Field(
                description='Filter events by the origin field of the event. This is applicable to web events only (e.g., https://example.com) '
            ),
        ] = None,
        start: Annotated[
            Optional[StrictInt],
            Field(
                description='Filter events with a timestamp greater than the start time, in Unix time (milliseconds). '
            ),
        ] = None,
        end: Annotated[
            Optional[StrictInt],
            Field(
                description='Filter events with a timestamp smaller than the end time, in Unix time (milliseconds). '
            ),
        ] = None,
        reverse: Annotated[
            Optional[StrictBool], Field(description='Sort events in reverse timestamp order. ')
        ] = None,
        suspect: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events previously tagged as suspicious via the [Update API](https://docs.fingerprint.com/reference/server-api-v4-update-event). > Note: When using this parameter, only events with the `suspect` property explicitly set to `true` or `false` are returned. Events with undefined `suspect` property are left out of the response. '
            ),
        ] = None,
        vpn: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by VPN Detection result. > Note: When using this parameter, only events with the `vpn` property set to `true` or `false` are returned. Events without a `vpn` Smart Signal result are left out of the response. '
            ),
        ] = None,
        virtual_machine: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Virtual Machine Detection result. > Note: When using this parameter, only events with the `virtual_machine` property set to `true` or `false` are returned. Events without a `virtual_machine` Smart Signal result are left out of the response. '
            ),
        ] = None,
        tampering: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Browser Tampering Detection result. > Note: When using this parameter, only events with the `tampering.result` property set to `true` or `false` are returned. Events without a `tampering` Smart Signal result are left out of the response. '
            ),
        ] = None,
        anti_detect_browser: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Anti-detect Browser Detection result. > Note: When using this parameter, only events with the `tampering.anti_detect_browser` property set to `true` or `false` are returned. Events without a `tampering` Smart Signal result are left out of the response. '
            ),
        ] = None,
        incognito: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Browser Incognito Detection result. > Note: When using this parameter, only events with the `incognito` property set to `true` or `false` are returned. Events without an `incognito` Smart Signal result are left out of the response. '
            ),
        ] = None,
        privacy_settings: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Privacy Settings Detection result. > Note: When using this parameter, only events with the `privacy_settings` property set to `true` or `false` are returned. Events without a `privacy_settings` Smart Signal result are left out of the response. '
            ),
        ] = None,
        jailbroken: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Jailbroken Device Detection result. > Note: When using this parameter, only events with the `jailbroken` property set to `true` or `false` are returned. Events without a `jailbroken` Smart Signal result are left out of the response. '
            ),
        ] = None,
        frida: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Frida Detection result. > Note: When using this parameter, only events with the `frida` property set to `true` or `false` are returned. Events without a `frida` Smart Signal result are left out of the response. '
            ),
        ] = None,
        factory_reset: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Factory Reset Detection result. > Note: When using this parameter, only events with a `factory_reset` time. Events without a `factory_reset` Smart Signal result are left out of the response. '
            ),
        ] = None,
        cloned_app: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Cloned App Detection result. > Note: When using this parameter, only events with the `cloned_app` property set to `true` or `false` are returned. Events without a `cloned_app` Smart Signal result are left out of the response. '
            ),
        ] = None,
        emulator: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Android Emulator Detection result. > Note: When using this parameter, only events with the `emulator` property set to `true` or `false` are returned. Events without an `emulator` Smart Signal result are left out of the response. '
            ),
        ] = None,
        root_apps: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Rooted Device Detection result. > Note: When using this parameter, only events with the `root_apps` property set to `true` or `false` are returned. Events without a `root_apps` Smart Signal result are left out of the response. '
            ),
        ] = None,
        vpn_confidence: Annotated[
            Optional[SearchEventsVpnConfidence],
            Field(
                description='Filter events by VPN Detection result confidence level. `high` - events with high VPN Detection confidence. `medium` - events with medium VPN Detection confidence. `low` - events with low VPN Detection confidence. > Note: When using this parameter, only events with the `vpn.confidence` property set to a valid value are returned. Events without a `vpn` Smart Signal result are left out of the response. '
            ),
        ] = None,
        min_suspect_score: Annotated[
            Optional[Union[StrictFloat, StrictInt]],
            Field(
                description='Filter events with Suspect Score result above a provided minimum threshold. > Note: When using this parameter, only events where the `suspect_score` property set to a value exceeding your threshold are returned. Events without a `suspect_score` Smart Signal result are left out of the response. '
            ),
        ] = None,
        developer_tools: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Developer Tools detection result. > Note: When using this parameter, only events with the `developer_tools` property set to `true` or `false` are returned. Events without a `developer_tools` Smart Signal result are left out of the response. '
            ),
        ] = None,
        location_spoofing: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Location Spoofing detection result. > Note: When using this parameter, only events with the `location_spoofing` property set to `true` or `false` are returned. Events without a `location_spoofing` Smart Signal result are left out of the response. '
            ),
        ] = None,
        mitm_attack: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by MITM (Man-in-the-Middle) Attack detection result. > Note: When using this parameter, only events with the `mitm_attack` property set to `true` or `false` are returned. Events without a `mitm_attack` Smart Signal result are left out of the response. '
            ),
        ] = None,
        proxy: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Proxy detection result. > Note: When using this parameter, only events with the `proxy` property set to `true` or `false` are returned. Events without a `proxy` Smart Signal result are left out of the response. '
            ),
        ] = None,
        sdk_version: Annotated[
            Optional[StrictStr],
            Field(
                description='Filter events by a specific SDK version associated with the identification event (`sdk.version` property). Example: `3.11.14` '
            ),
        ] = None,
        sdk_platform: Annotated[
            Optional[SearchEventsSdkPlatform],
            Field(
                description='Filter events by the SDK Platform associated with the identification event (`sdk.platform` property) . `js` - Javascript agent (Web). `ios` - Apple iOS based devices. `android` - Android based devices. '
            ),
        ] = None,
        environment: Annotated[
            Optional[list[StrictStr]],
            Field(
                description='Filter for events by providing one or more environment IDs (`environment_id` property).  ### Array syntax To provide multiple environment IDs, use the repeated keys syntax (`environment=env1&environment=env2`). Other notations like comma-separated (`environment=env1,env2`) or bracket notation (`environment[]=env1&environment[]=env2`) are not supported. '
            ),
        ] = None,
        proximity_id: Annotated[
            Optional[StrictStr],
            Field(
                description='Filter events by the most precise Proximity ID provided by default. > Note: When using this parameter, only events with the `proximity.id` property matching the provided ID are returned. Events without a `proximity` result are left out of the response. '
            ),
        ] = None,
        total_hits: Annotated[
            Optional[Annotated[int, Field(le=1000, strict=True, ge=1)]],
            Field(
                description='When set, the response will include a `total_hits` property with a count of total query matches across all pages, up to the specified limit. '
            ),
        ] = None,
        tor_node: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by Tor Node detection result. > Note: When using this parameter, only events with the `tor_node` property set to `true` or `false` are returned. Events without a `tor_node` detection result are left out of the response. '
            ),
        ] = None,
        incremental_identification_status: Annotated[
            Optional[SearchEventsIncrementalIdentificationStatus],
            Field(
                description='Filter events by their incremental identification status (`incremental_identification_status` property). Non incremental identification events are left out of the response. '
            ),
        ] = None,
        simulator: Annotated[
            Optional[StrictBool],
            Field(
                description='Filter events by iOS Simulator Detection result.  > Note: When using this parameter, only events with the `simulator` property set to `true` or `false` are returned. Events without a `simulator` Smart Signal result are left out of the response. '
            ),
        ] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            tuple[Annotated[StrictFloat, Field(gt=0)], Annotated[StrictFloat, Field(gt=0)]],
        ] = None,
        _request_auth: Optional[dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[dict[StrictStr, Any]] = None,
    ) -> ApiResponse[EventSearch]:
        """Search events

        ## Search  The `/v4/events` endpoint provides a convenient way to search for past events based on specific parameters. Typical use cases and queries include:  - Searching for events associated with a single `visitor_id` within a time range to get historical behavior of a visitor. - Searching for events associated with a single `linked_id` within a time range to get all events associated with your internal account identifier. - Excluding all bot traffic from the query (`good` and `bad` bots)  If you don't provide `start` or `end` parameters, the default search range is the **last 7 days**.  ### Filtering events with the `suspect` flag  The `/v4/events` endpoint unlocks a powerful method for fraud protection analytics. The `suspect` flag is exposed in all events where it was previously set by the update API.  You can also apply the `suspect` query parameter as a filter to find all potentially fraudulent activity that you previously marked as `suspect`. This helps identify patterns of fraudulent behavior.  ### Environment scoping  If you use a secret key that is scoped to an environment, you will only get events associated with the same environment. With a workspace-scoped environment, you will get events from all environments.  Smart Signals not activated for your workspace or are not included in the response.

        :param limit: Limit the number of events returned.
        :type limit: int
        :param pagination_key: Use `pagination_key` to get the next page of results.  When more results are available (e.g., you requested up to 100 results for your query using `limit`, but there are more than 100 events total matching your request), the `pagination_key` field is added to the response. The pagination key is an arbitrary string that should not be interpreted in any way and should be passed as-is. In the following request, use that value in the `pagination_key` parameter to get the next page of results:  1. First request, returning most recent 200 events: `GET api-base-url/events?limit=100` 2. Use `response.pagination_key` to get the next page of results: `GET api-base-url/events?limit=100&pagination_key=1740815825085`
        :type pagination_key: str
        :param visitor_id: Unique [visitor identifier](https://docs.fingerprint.com/reference/js-agent-v4-get-function#visitor_id) issued by Fingerprint Identification and all active Smart Signals.  Filter events by matching Visitor ID (`identification.visitor_id` property).
        :type visitor_id: str
        :param high_recall_id: The High Recall ID is a supplementary browser identifier designed for use cases that require wider coverage over precision. Compared to the standard visitor ID, the High Recall ID strives to match incoming browsers more generously (rather than precisely) with existing browsers and thus identifies fewer browsers as new. The High Recall ID is best suited for use cases that are sensitive to browsers being identified as new and where mismatched browsers are not detrimental.  Filter events by matching High Recall ID (`supplementary_id_high_recall.visitor_id` property).
        :type high_recall_id: str
        :param bot: Filter events by the Bot Detection result, specifically:   `all` - events where any kind of bot was detected.   `good` - events where a good bot was detected.   `bad` - events where a bad bot was detected.   `none` - events where no bot was detected. > Note: When using this parameter, only events with the `bot` property set to a valid value are returned. Events without a `bot` Smart Signal result are left out of the response.
        :type bot: SearchEventsBot
        :param ip_address: Filter events by IP address or IP range (if CIDR notation is used). If CIDR notation is not used, a /32 for IPv4 or /128 for IPv6 is assumed. Examples of range based queries: 10.0.0.0/24, 192.168.0.1/32
        :type ip_address: str
        :param asn: Filter events by the ASN associated with the event's IP address. This corresponds to the `ip_info.(v4|v6).asn` property in the response.
        :type asn: str
        :param linked_id: Filter events by your custom identifier.  You can use [linked Ids](https://docs.fingerprint.com/reference/js-agent-v4-get-function#linkedid) to associate identification requests with your own identifier, for example, session Id, purchase Id, or transaction Id. You can then use this `linked_id` parameter to retrieve all events associated with your custom identifier.
        :type linked_id: str
        :param url: Filter events by the URL (`url` property) associated with the event.
        :type url: str
        :param bundle_id: Filter events by the Bundle ID (iOS) associated with the event.
        :type bundle_id: str
        :param package_name: Filter events by the Package Name (Android) associated with the event.
        :type package_name: str
        :param origin: Filter events by the origin field of the event. This is applicable to web events only (e.g., https://example.com)
        :type origin: str
        :param start: Filter events with a timestamp greater than the start time, in Unix time (milliseconds).
        :type start: int
        :param end: Filter events with a timestamp smaller than the end time, in Unix time (milliseconds).
        :type end: int
        :param reverse: Sort events in reverse timestamp order.
        :type reverse: bool
        :param suspect: Filter events previously tagged as suspicious via the [Update API](https://docs.fingerprint.com/reference/server-api-v4-update-event). > Note: When using this parameter, only events with the `suspect` property explicitly set to `true` or `false` are returned. Events with undefined `suspect` property are left out of the response.
        :type suspect: bool
        :param vpn: Filter events by VPN Detection result. > Note: When using this parameter, only events with the `vpn` property set to `true` or `false` are returned. Events without a `vpn` Smart Signal result are left out of the response.
        :type vpn: bool
        :param virtual_machine: Filter events by Virtual Machine Detection result. > Note: When using this parameter, only events with the `virtual_machine` property set to `true` or `false` are returned. Events without a `virtual_machine` Smart Signal result are left out of the response.
        :type virtual_machine: bool
        :param tampering: Filter events by Browser Tampering Detection result. > Note: When using this parameter, only events with the `tampering.result` property set to `true` or `false` are returned. Events without a `tampering` Smart Signal result are left out of the response.
        :type tampering: bool
        :param anti_detect_browser: Filter events by Anti-detect Browser Detection result. > Note: When using this parameter, only events with the `tampering.anti_detect_browser` property set to `true` or `false` are returned. Events without a `tampering` Smart Signal result are left out of the response.
        :type anti_detect_browser: bool
        :param incognito: Filter events by Browser Incognito Detection result. > Note: When using this parameter, only events with the `incognito` property set to `true` or `false` are returned. Events without an `incognito` Smart Signal result are left out of the response.
        :type incognito: bool
        :param privacy_settings: Filter events by Privacy Settings Detection result. > Note: When using this parameter, only events with the `privacy_settings` property set to `true` or `false` are returned. Events without a `privacy_settings` Smart Signal result are left out of the response.
        :type privacy_settings: bool
        :param jailbroken: Filter events by Jailbroken Device Detection result. > Note: When using this parameter, only events with the `jailbroken` property set to `true` or `false` are returned. Events without a `jailbroken` Smart Signal result are left out of the response.
        :type jailbroken: bool
        :param frida: Filter events by Frida Detection result. > Note: When using this parameter, only events with the `frida` property set to `true` or `false` are returned. Events without a `frida` Smart Signal result are left out of the response.
        :type frida: bool
        :param factory_reset: Filter events by Factory Reset Detection result. > Note: When using this parameter, only events with a `factory_reset` time. Events without a `factory_reset` Smart Signal result are left out of the response.
        :type factory_reset: bool
        :param cloned_app: Filter events by Cloned App Detection result. > Note: When using this parameter, only events with the `cloned_app` property set to `true` or `false` are returned. Events without a `cloned_app` Smart Signal result are left out of the response.
        :type cloned_app: bool
        :param emulator: Filter events by Android Emulator Detection result. > Note: When using this parameter, only events with the `emulator` property set to `true` or `false` are returned. Events without an `emulator` Smart Signal result are left out of the response.
        :type emulator: bool
        :param root_apps: Filter events by Rooted Device Detection result. > Note: When using this parameter, only events with the `root_apps` property set to `true` or `false` are returned. Events without a `root_apps` Smart Signal result are left out of the response.
        :type root_apps: bool
        :param vpn_confidence: Filter events by VPN Detection result confidence level. `high` - events with high VPN Detection confidence. `medium` - events with medium VPN Detection confidence. `low` - events with low VPN Detection confidence. > Note: When using this parameter, only events with the `vpn.confidence` property set to a valid value are returned. Events without a `vpn` Smart Signal result are left out of the response.
        :type vpn_confidence: SearchEventsVpnConfidence
        :param min_suspect_score: Filter events with Suspect Score result above a provided minimum threshold. > Note: When using this parameter, only events where the `suspect_score` property set to a value exceeding your threshold are returned. Events without a `suspect_score` Smart Signal result are left out of the response.
        :type min_suspect_score: float
        :param developer_tools: Filter events by Developer Tools detection result. > Note: When using this parameter, only events with the `developer_tools` property set to `true` or `false` are returned. Events without a `developer_tools` Smart Signal result are left out of the response.
        :type developer_tools: bool
        :param location_spoofing: Filter events by Location Spoofing detection result. > Note: When using this parameter, only events with the `location_spoofing` property set to `true` or `false` are returned. Events without a `location_spoofing` Smart Signal result are left out of the response.
        :type location_spoofing: bool
        :param mitm_attack: Filter events by MITM (Man-in-the-Middle) Attack detection result. > Note: When using this parameter, only events with the `mitm_attack` property set to `true` or `false` are returned. Events without a `mitm_attack` Smart Signal result are left out of the response.
        :type mitm_attack: bool
        :param proxy: Filter events by Proxy detection result. > Note: When using this parameter, only events with the `proxy` property set to `true` or `false` are returned. Events without a `proxy` Smart Signal result are left out of the response.
        :type proxy: bool
        :param sdk_version: Filter events by a specific SDK version associated with the identification event (`sdk.version` property). Example: `3.11.14`
        :type sdk_version: str
        :param sdk_platform: Filter events by the SDK Platform associated with the identification event (`sdk.platform` property) . `js` - Javascript agent (Web). `ios` - Apple iOS based devices. `android` - Android based devices.
        :type sdk_platform: SearchEventsSdkPlatform
        :param environment: Filter for events by providing one or more environment IDs (`environment_id` property).  ### Array syntax To provide multiple environment IDs, use the repeated keys syntax (`environment=env1&environment=env2`). Other notations like comma-separated (`environment=env1,env2`) or bracket notation (`environment[]=env1&environment[]=env2`) are not supported.
        :type environment: List[str]
        :param proximity_id: Filter events by the most precise Proximity ID provided by default. > Note: When using this parameter, only events with the `proximity.id` property matching the provided ID are returned. Events without a `proximity` result are left out of the response.
        :type proximity_id: str
        :param total_hits: When set, the response will include a `total_hits` property with a count of total query matches across all pages, up to the specified limit.
        :type total_hits: int
        :param tor_node: Filter events by Tor Node detection result. > Note: When using this parameter, only events with the `tor_node` property set to `true` or `false` are returned. Events without a `tor_node` detection result are left out of the response.
        :type tor_node: bool
        :param incremental_identification_status: Filter events by their incremental identification status (`incremental_identification_status` property). Non incremental identification events are left out of the response.
        :type incremental_identification_status: SearchEventsIncrementalIdentificationStatus
        :param simulator: Filter events by iOS Simulator Detection result.  > Note: When using this parameter, only events with the `simulator` property set to `true` or `false` are returned. Events without a `simulator` Smart Signal result are left out of the response.
        :type simulator: bool
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :return: Returns the result object.
        """  # noqa: E501

        _param = self._search_events_serialize(
            limit=limit,
            pagination_key=pagination_key,
            visitor_id=visitor_id,
            high_recall_id=high_recall_id,
            bot=bot,
            ip_address=ip_address,
            asn=asn,
            linked_id=linked_id,
            url=url,
            bundle_id=bundle_id,
            package_name=package_name,
            origin=origin,
            start=start,
            end=end,
            reverse=reverse,
            suspect=suspect,
            vpn=vpn,
            virtual_machine=virtual_machine,
            tampering=tampering,
            anti_detect_browser=anti_detect_browser,
            incognito=incognito,
            privacy_settings=privacy_settings,
            jailbroken=jailbroken,
            frida=frida,
            factory_reset=factory_reset,
            cloned_app=cloned_app,
            emulator=emulator,
            root_apps=root_apps,
            vpn_confidence=vpn_confidence,
            min_suspect_score=min_suspect_score,
            developer_tools=developer_tools,
            location_spoofing=location_spoofing,
            mitm_attack=mitm_attack,
            proxy=proxy,
            sdk_version=sdk_version,
            sdk_platform=sdk_platform,
            environment=environment,
            proximity_id=proximity_id,
            total_hits=total_hits,
            tor_node=tor_node,
            incremental_identification_status=incremental_identification_status,
            simulator=simulator,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
        )

        _response_types_map: dict[str, Optional[str]] = {
            '200': 'EventSearch',
            '400': 'ErrorResponse',
            '403': 'ErrorResponse',
            '500': 'ErrorResponse',
        }

        response_data = self.api_client.call_api(*_param, _request_timeout=_request_timeout)
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        )

    @validate_call
    def search_events_without_preload_content(
        self,
        limit: Annotated[
            Optional[Annotated[int, Field(le=100, strict=True, ge=1)]],
            Field(description='Limit the number of events returned. '),
        ] = None,
        pagination_key: Annotated[
            Optional[StrictStr],
            Field(
                description='Use `pagination_key` to get the next page of results.  When more results are available (e.g., you requested up to 100 results for your query using `limit`, but there are more than 100 events total matching your request), the `pagination_key` field is added to the response. The pagination key is an arbitrary string that should not be interpreted in any way and should be passed as-is. In the following request, use that value in the `pagination_key` parameter to get the next page of results:  1. First request, returning most recent 200 events: `GET api-base-url/events?limit=100` 2. Use `response.pagination_key` to get the next page of results: `GET api-base-url/events?limit=100&pagination_key=1740815825085` '
            ),
        ] = None,
        visitor_id: Annotated[
            Optional[StrictStr],
            Field(
                description='Unique [visitor identifier](https://docs.fingerprint.com/reference/js-agent-v4-get-function#visitor_id) issued by Fingerprint Identification and all active Smart Signals.  Filter events by matching Visitor ID (`identification.visitor_id` property). '
            ),
        ] = None,
        high_recall_id: Annotated[
            Optional[StrictStr],
            Field(
                description='The High Recall ID is a supplementary browser identifier designed for use cases that require wider coverage over precision. Compared to the standard visitor ID, the High Recall ID strives to match incoming browsers more generously (rather than precisely) with existing browsers and thus identifies fewer browsers as new. The High Recall ID is best suited for use cases that are sensitive to browsers being identified as new and where mismatched browsers are not detrimental.  Filter events by matching High Recall ID (`supplementary_id_high_recall.visitor_id` property). '
            ),
        ] = None,
        bot: Annotated[
            Optional[SearchEventsBot],
            Field(
                description='Filter events by the Bot Detection result, specifically:   `all` - events where any kind of bot was detected.   `good` - events where a good bot was detected.   `bad` - events where a bad bot was detected.   `none` - events where no bot was detected. > Note: When using this parameter, only events with the `bot` property set to a valid value are returned. Events without a `bot` Smart Signal result are left out of the response. '
            ),
        ] = None,
        ip_address: Annotated[
            Optional[StrictStr],
            Field(
[...]
